<footer>
    <div class="container-fluid">
        <div class="row footer-menu">
            <div class="col-md-2">
                <div class="logo footer-title">
                    <img src="img/white-sheep.png" class="responsive">
                </div>
            </div>

            <div class="col-md-3">
                <div class="footer-title">
                    <a class="footer-title-link">
                        About
                    </a>
                </div>
                <div class="footer-content">
                    <ul>
                        <li>
                            <a href="study.html">About us</a>
                        </li>
                        <li>
                            <a href="study.html">Copyright</a>
                        </li>
                        <li>
                            <a href="study.html">Report a problem</a>
                        </li>
                        <li>
                            <a href="study.html">Privacy Policy</a>
                        </li>

                    </ul>
                </div>
            </div>

            <div class="col-md-3">
                <div class="footer-title">
                    <a class="footer-title-link">
                        Link
                    </a>
                </div>

                <div class="footer-content">
                    <ul>
                        <li>
                            <a href="study.html">Gospel.com</a>
                        </li>
                        <li>
                            <a href="study.html">HarperCollins</a>
                        </li>
                        <li>
                            <a href="study.html">Faith-Gateway</a>
                        </li>
                        <li>
                            <a href="study.html">Christian Publishing</a>
                        </li>
                        <li>
                            <a href="study.html">StudyGate way</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4">
                <div class="footer-title">
                    <a class="footer-title-link">
                        Contact Us
                    </a>
                </div>
                <div class="footer-content incon-bar">
                    <ul>
                        <li>
                            <a href="#">
                                <i class="fa fa-phone-square"></i>12345678
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <i class="fas fa-at"></i>truthlambs@hotmail.com
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <i class="fas fa-home"></i>Level 1B, 115 Khyber Pass Road, Auckland, New Zealand
                            </a>
                        </li>


                    </ul>

                </div>
            </div>
        </div>
    </div>

</footer>
