<nav class="navbar navbar-expand-md navbar-light fixed-top">

    <div class="logo navbar-brand">
            <a href="index.html"><img src="img/black-sheep.png"></a> 
    </div>

    <div class="question-part">
        <div class="input-group col-md-8 col-lg-6 col-xl-12">
            <input class="form-control py-2 border-right-0 border" type="search" placeholder="Search question" aria-label="Searching...."
                id="search-input">
            <span class="input-group-append">
                <button class="btn  border-left-0 border" type="button" id="search-button">
                    <svg focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
                    </svg>
                </button>
            </span>

            <div class="input-group-append">
                <a id="add-question-button" href="#first-question-modal">Add question</a>
            </div>
        </div>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse -collapsenavbar nav-menu" id="navbarMenu">
        <ul class="navbar-nav">

            
            <li class="nav-item">
                <a class="nav-link" href="question.html">Questions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="study.html">Study</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="community.html">Community</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="aboutus.html">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="donation.html">Donation</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="prayer-request.html">Prayer</a>
            </li>
            <li class="nav-item" id="prayer-notification">
                
                <svg version="1.1" id="notification-icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1000 1000"
                    enable-background="new 0 0 1000 1000" xml:space="preserve">
                    <metadata> Svg Vector Icons : http://www.onlinewebfonts.com/icon </metadata>
                    <g>
                        <path d="M865.3,624.5c-88.5-74.4-88.2-293.4-88.2-295.8c0-165.5-135.4-230.1-175.9-245.6C588.4,40.1,547.8,10,500.4,10c-47.1,0-87.6,29.9-100.6,72.7C224.8,146.4,222.9,327,222.9,328.8c0,227.8-83.6,294-85.5,295.4c-54.4,46.3-57.1,110.7-57.1,116.5c10.4,73.6,59,99.8,101,99.8l631.7-0.2c32.1,0,57.9-9.3,76.7-27.7c30.1-29.3,30-70.8,30-72.3C919.7,665.9,866.6,625.5,865.3,624.5L865.3,624.5z M861.1,785.9c-11,10.7-27.2,16.1-48,16.1l-629.3,0.1l-2.4,19.3v-19.2c-15.6,0-52.8-6.5-61.1-63.2c0-0.6,2.6-50.8,42.5-85c4.2-3,100.2-75.5,100.2-325.2c0-1.6,1.7-161.8,158.8-213c7.8-1.8,13.5-7.8,14.9-15.3c5.3-30.1,32.1-52,63.8-52c31.8,0,58.7,22.1,63.9,52.4c1.3,7.1,6.6,12.9,13.7,15.1c6.5,2,159.1,50.2,159.1,212.8c-0.1,9.8-0.4,238.9,102.6,325.5c1.7,1.3,40,31.2,40,86.4C879.7,740.8,879.5,768.3,861.1,785.9L861.1,785.9z"
                        />
                        <path d="M646.6,862.7c-9.4-3.2-19.5,1.8-22.8,11.8c-14.6,45.4-65.6,77.1-123.9,77.1c-58.3,0-109.3-31.7-123.9-77c-3.3-10-13.4-14.9-22.8-11.8c-9.4,3.5-14.2,14.5-11,24.5C361.9,947.8,426.6,990,499.9,990c73.3,0,138-42.3,157.7-102.8C660.8,877.1,656,866.3,646.6,862.7"
                        />
                    </g>
                </svg>

                <span class="badge">1</span>
            </li>
            <li class="nav-item">
                <a href="#loginForm" class="btn" id="loginBtn">Login</a>
            </li>
        </ul>
    </div>

</nav>