<div id="w-prompt-container">
        <div id="first-question-modal" class="mfp-hide white-popup">
            <div class="first-question-prompt">
                <p class="prompt-title">You are asking your first question!</p>
                <p>How to quickly get a good answer:</p>
                <ul class="tip-list">
                    <li>Keep your question short and to the point</li>
                    <li>Check for grammar or spelling errors</li>
                    <li>Phrase it like a question</li>
                </ul>
            </div>
            <div class="AskQuestionSelector TyperseachEsselector" tabindex="-1" id="start-type-question">
                <div class="selector-input-interaction">
                    <div class="CharacterCounter fade-out"></div>
                    <textarea class="selector-input text" type="text" rows="1" data-group="js-editable" placeholder="Ask your question here"></textarea>
                    <hr>
                </div>
            </div>
            <div class="prompt-footer">
                <span class="text-links pl=5px">
                    <a class="prompt-cancel" href="#">Canel</a>
                    <label class="prompt-label">
                        <input type="checkbox" id="prompt-footer-input">Add Anonymously
                    </label>
                </span>
                <a class="prompt-submit-button" href="#">Add Question</a>
            </div>
        </div>
    </div>