<div class="prayer-content-2 row">
    <div class="col-sm-3 sub-part">
        <a class="btn btn-info" href="">
            <i class="fas fa-plus-circle"></i>
            Add Group
        </a>
        <ul>
            <li class="prayer-link"><a class="active" href="">All Groups</a></li>
            <li class="prayer-link"><a href="">My Group</a></li>
            <li class="prayer-link"><a href="">Inbitations Received</a></li>
            <li class="prayer-link"><a href="">Invitations Sent</a></li>
        </ul>
    </div>
    <div class="col-sm-9 main-content">
        <h3>All Group</h3>
        <ul class="group-list">
            <li class="group-list-item">
                <div class="group-detail">
                    <a class="group-list-link" href="">Pray for big world's events</a>
                    <a class="open-group" href="">Open group</a>

                    <div class="icons">
                        <span class="member-icon">
                            <i class="far fa-user"></i>
                            45 members
                        </span>

                        <span class="post-icon">
                            <i class="fas fa-comment"></i>
                            9 posts
                        </span>


                    </div>

                </div>

                <p class="prayer-group-intr">This is group just pray for ......... </p>

                <a class="btn btn-info btn-sm" href="">Join group</a>


            </li>

            <li class="group-list-item">
                    <div class="group-detail">
                        <a class="group-list-link" href="">Pray for big world's events</a>
                        <a class="open-group" href="">Open group</a>
    
                        <div class="icons">
                            <span class="member-icon">
                                <i class="far fa-user"></i>
                                45 members
                            </span>
    
                            <span class="post-icon">
                                <i class="fas fa-comment"></i>
                                9 posts
                            </span>
    
    
                        </div>
    
                    </div>
    
                    <p class="prayer-group-intr">This is group just pray for ......... </p>
    
                    <a class="btn btn-info btn-sm" href="">Join group</a>
    
    
                </li>
    
                <li class="group-list-item">
                        <div class="group-detail">
                            <a class="group-list-link" href="">Pray for big world's events</a>
                            <a class="open-group" href="">Open group</a>
        
                            <div class="icons">
                                <span class="member-icon">
                                    <i class="far fa-user"></i>
                                    45 members
                                </span>
        
                                <span class="post-icon">
                                    <i class="fas fa-comment"></i>
                                    9 posts
                                </span>
        
        
                            </div>
        
                        </div>
        
                        <p class="prayer-group-intr">This is group just pray for ......... </p>
        
                        <a class="btn btn-info btn-sm" href="">Join group</a>
        
        
                    </li>
        

           
        </ul>


    </div>




</div>