.study-page .study-section {
    width: 100%;
    background-color:$soft-gery;
    display: flex;
    padding: 30px 35px;

    & .study-catalogues {
       
        width: fit-content;

        ul {
            list-style-type: square;

            & li a {
                color: black;

                &:hover {
                    color: #146B86;
                }
            }
        }
    }

  
}
