*:focus {
    outline: none;
    box-shadow: unset !important;
}

body {
    overflow-x: hidden;
    background-color: #fcfcfc;
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #EEEEE5;

    .logo {
        order: 1;
    }

    .question-part {
        order: 3;
        width: 100%;
    }

    .navbar-toggler {
        order: 2;
    }

    .nav-menu {
        order: 4;        
        
        @include tab-list(rgb(132, 216, 246));
        width: 100%;

        & .navbar-nav .nav-item {
            padding: 5px;
        }
    }

    @include media-breakpoint-up(sm) {
        .question-part {
            order: 2;
            width: 65%;
        }
    
        .navbar-toggler {
            order: 3;
        }
    
        .nav-menu {
            order: 4;
        }
    }

    @include media-breakpoint-up(md) {
        .question-part {
            order: 3;
            width: 100%;
        }
    
        .nav-menu {
            order: 2;
            display: block;
            width: unset;
            margin-left: auto;
        }

        & {
            flex-wrap: wrap;
        }
    }

    @include media-breakpoint-up(xl) {
        .logo {
            flex-grow: 0;
        }

        .question-part {
            order: 2;
            width: unset;
            flex-grow: 1;
        }

        .nav-menu {
            order: 3;
            margin-left: unset;
            flex-grow: 0;
        }
    }

    h3 {
        @include title-text;

        display: block;
        width: 100%;
        padding: 28px 0;
        margin-top: 60px;
        margin-bottom: 0;
        border: $card-border-width solid $card-border-color;
        border-bottom: none;

        @include border-top-radius($card-border-radius);

        margin-bottom: -3px;
    }

    .logo img {
        flex-shrink: 0;
        padding-left: 10px;
        padding-top: 0px;
        width: 100px;
        height: auto;
    }

    .btn {
        background: white;
        color: black;
        border: 1px solid darkgray;
        border-radius: 10px;

        &:hover {
            background: rgb(132, 216, 246);
            border: 1px solid rgb(132, 216, 246);
            color: white;
        }
    }

    .question-part {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        margin-left: 0;
        margin-top: 4px; // get beyond navbar height

        #search-button {
            height: 40px;

            svg {
                width: 24px;
                height: 24px;
                fill: $gray-600;
            }
        }

        & > .input-group {
            height: 40px;

            & .form-control:focus {
                border-color: rgb(132, 216, 246);
            }

            .input-group-append a {
                color: white;
                font-size: 13px;
                text-decoration: none;
                background-color: #4077AA;
                border: 1px solid rgb(132, 216, 246);
                border-radius: 5px;
                padding-top: 6px;
                padding-right: 4px;
                padding-left: 4px;
                margin-left: 12px;
            }
        }
    }
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(132, 216, 246);
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0);
    }

    to {
        -webkit-transform: scale(1);
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
}

.white-popup {
    position: relative;
    background: #FFF;
    padding: 40px;
    width: auto;
    max-width: 620px;
    max-height: 630px;
    margin: 15px auto;

    .first-question-prompt {
        background-color: #f0f5f7;
        border: #dcdcdc 1px solid;
        border-radius: 4px;
        padding: 15px;
        margin-bottom: 15px;

        .prompt-title {
            font-weight: bold;
        }

        p {
            margin-bottom: 0;
        }

        .tip-list {
            margin-left: 20px;
        }
    }

    .selector-input-interaction .selector-input {
        width: 100%;
        height: 80px;
        outline: none;
        border: none;
        overflow: auto;
    }

    .prompt-footer {
        border: 1px solid darkgray;
        border-right: transparent;
        border-bottom: transparent;
        border-left: transparent;
        height: 56px;
        padding: 15px 0;
        background-color: #f0f5f7;
        display: flex;
        justify-content: flex-end;

        a {
            color: black;
            text-decoration: none;

            &.prompt-submit-button {
                color: white;
                background-color: #4077AA;
                border: 1px solid rgb(132, 216, 246);
                height: 40px;
                padding: 8px;
                border-radius: 4px;
            }
        }
    }
}

.jumbotron {
    top: 50px;
    left: 0;
    width: 100%;
    height: 100%;
    position: relative;
    padding-top: 20px;
    padding: 0;
    overflow: hidden;

    h1 {
        color: rgb(40, 40, 48);

        @include old-style-font;
    }

    #learn-more-button {
        margin: 30px 0;
    }

    #bg-video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .jumbovidtext {
        padding: 5em;
        position: relative;
    }
}

@include media-breakpoint-up(sm) {
    .featured-part {
        display: flex;
        padding: 20px 50px;
        margin-top: 50px;
    }

    .categories-buttons {
        flex: 0 0 400px;
        min-width: 400px;
    }
}


.wrapper-buttons {
    display: grid;
    background-color: #FBFBFB;
    grid-template-columns: 25vw 25vw 25vw 25vw;
    grid-template-rows: 25vw 25vw 25vw 25vw 25vw;

    @include media-breakpoint-up(sm) {
        grid-template-columns: 100px 100px 100px 100px;
        grid-template-rows: 100px 100px 100px 100px 100px;
    }
}

.wrapper-buttons > div {
    font-size: 50px;
    text-align: center;
    border-radius: 10px;
    margin: 8px;
    text-align: center;

    &.white-text {
        color: whitesmoke;
        font-size: 12.5px;
        padding-top: 10px;
        padding-left: 5px;
        padding-right: 8px;

        & i {
            font-size: 20px;
        }
    }

    &.black-text {
        color: black;
        font-size: 12.5px;
        padding-top: 10px;
        padding-left: 5px;
        padding-right: 6px;

        & i {
            font-size: 20px;
        }
    }

    &.icon-font-big {
        p {
            font-size: 18px;
            padding-top: 30px;
        }

        i {
            font-size: 60px;
        }

        i.red-icon {
            color: rgb(145, 24, 24);
        }
    }
}

.category-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: rgb(132, 216, 246);
    border-color: rgb(132, 216, 246);
}

.category-2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #146B86;
    border-color: #146B86;
}

.category-3 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #C3D1DC;
    border-color: #C3D1DC;
}

.category-4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: #91A2A9;
    border-color: #91A2A9;
}

.category-5 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: #4077AA;
    border-color: #4077AA;
}

.category-6 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: rgb(55, 74, 116);
    border-color: rgb(55, 74, 116);
}

.category-7 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: #F2F6F9;
    border-color: #F2F6F9;
}

.category-8 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
    background-color: #F1EDE3;
    border-color: #F1EDE3;
}

.category-9 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 6;
    background-color: #F4EEE2;
    border-color: #F4EEE2;
    box-shadow: -1px 1px #f2f2f2;
}

.category-10 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
    background-color: #F3F7FA;
    border-color: #F3F7FA;
}

.category-11 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 6;
    background-color: #2B6082;
    border-color: #2B6082;
}

.questions {
    flex-grow: 1;
    padding-left: 60px;

    & > .questions-nav {
        margin-top: 20px;
        margin-left: 10px;
        display: flex;
        justify-content: space-between;

        & hr.style1 {
            width: auto;
            height: 5px;
            border-top: 1px solid #8c8b8b;
        }

        & > .subheader {
            font-size: 18px;
        }

        & > .tabs {
            @include tab-list($bright-orange);

            & ul {
                font-size: 13px;

                & > li {
                    padding: 10px;
                }
            }
        }
    }

    .tags {
        @include tag-list;
    }

    .tags ul > li:last-child {
        background-color: transparent;

        a {
            color: $bright-orange;
            font-size: 14px;
        }
    }

    .question-list-wrapper {
        display: flex;
        margin-top: 20px;

        .question-summary {
            display: flex;

            .question-data {
                display: flex;
            }

            .summary {
                display: flex;
                flex-wrap: wrap;
                margin-left: 30px;

                h4 {
                    @include old-style-font;

                    font-size: 14pt;
                    color: #4cb1d5;
                    margin-bottom: 0.25rem;
                    font-weight: 300;
                    width: 100%;
                }

                > .tags {
                    @include tag-list(true);
                }
            }
        }

        .mini-counts {
            & > span {
                font-size: 20px;
                color: $gray-700;
            }
        }

        .data-box {
            text-align: center;
            display: inline-block;
            font-size: 12px;
            color: $gray-500;
            padding: 5px 5px;
        }
    }
}

.videos-part {
    margin: 10px auto;
}

.media-icon {
    width: auto;
    height: 80px;
    display: flex;
    justify-content: center;
    background-color: #F4EEE2;
    padding: 20px;

    & img {
        width: 40px;
        height: 40px;
        margin: 0 11px;
    }
}

footer {
    background: #4077AA;
    color: white;
    text-align: start;

    .logo img {
        flex-shrink: 0;
        padding-left: 20x;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 128px;
    }

    & .footer-title-link {
        font-size: 14px;
        font-weight: 400px;
        line-height: 1.5;
        display: block;
        width: 100%;
        height: 28px;

        &:hover, &:focus {
            background-color: rgba(196, 192, 192, 0.192);
            cursor: pointer;
        }
    }

    & .footer-content {
        display: none;

        &.showing {
            display: block;
            width: 100%;
        }

        a {
            text-decoration: none;
            display: block;
            width: 100%;
            height: 28px;

            &:hover {
                background-color: white;
                color: $gray-900;
            }
        }

        ul {
            display: block;
            width: 100%;
            padding-left: 0;
        }
    }

    overflow: hidden;

    & ul {
        width: fit-content;
    }

    & ul li {
        list-style: none;
    }

    & ul li a {
        color: white;
    }

    & .incon-bar a {
        color: white;

        & i {
            padding: 3px 6px;
        }
    }
}

footer {
    padding: 25px 0;

    & .footer-content {
        display: block;
    }

    a {
        text-decoration: none;
        display: block;
        width: 100%;

        &:hover {
            background-color: white;
            color: $gray-900;
        }
    }

    ul {
        display: block;
        width: 100%;
        padding-left: 0;
        width: fit-content;
    }

    ul li {
        list-style: none;
    }

    ul li a {
        color: white;
    }

    .incon-bar a {
        color: white;

        & i {
            padding: 3px 6px;
        }
    }
}

.drop {
    z-index: $zindex-popover;

    #search-results {
        width: 437px;
        height: 302px;
        background-color: #FFF;
        color: black;
        line-height: 1.6;
        font-size: 18px;
        font-weight: 400;
        margin: -5px;
        list-style: none;

        & > li {
            border-bottom: 1px solid #ddd;
            box-sizing: border-box;
            padding: 10px;
            padding-left: 30px;
            display: flex;

            i {
                margin-left: auto;
                margin-top: 4px;
                color: $gray-500;
            }
        }

        & > li:hover {
            background-color: rgb(198, 219, 233);
        }
    }
}
