// in bootstrap:
// $font-family-sans-serif
$font-family-serif: "Old Standard TT";

// disable bootstrap gutters
$grid-gutter-width: 0;



$bright-orange:#e6725a;
$navbar-color:#EEEEE5;
$footer-color:#4077AA;
$ui-light:#f3f1ee;